<main role="main" class="container">
  <div class="starter-template">
    <h1>You are {{ user.name }}</h1>
    <p>
      <a href="/logout" class="btn btn-danger">Cierra sesión</a>
      <a href="/app/users" class="btn btn-primary">Lista de Usuarios</a>
    </p>
  </div>
</main>
